:root {
    --slidev-code-font-size: 10px; 
    --slidev-code-line-height: 1.2;
}

.slidev-layout {
    background-color: #FFFFFF;
    color: #535353;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
